body {
    background-color: rgb(199, 199, 199);
}

.navbar-taller {
    background-color: rgb(62, 62, 62);
    color: rgb(255, 236, 152);
    border-color: black;
    padding: 10px 0;
    margin: 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

.navbar-header {
    padding: 10px;
}

.search-bar input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 8px;
    width: 200%
}

.search-bar button {
    padding: 8px 15px;
    background-color: #aa1212;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

p {
    color: rgb(255, 255, 255);
    font-style:normal;
}

.carousel-inner {
    background-color: rgb(62, 62, 62);
}

.carousel img {
    margin: 0 auto;
}

.max-height-600 {
    max-height: 600px; /* Puedes ajustar este valor según tus necesidades */
}